.container {
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  padding-bottom: 0;
  padding-top: 20px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aquamarine;
}

.user-name {
  font-size: 30px;
}

.user-tag {
  font-size: 20px;
  color: gray;
}

.user-location {
  font-size: 20px;
  color: gray;
}

.user-list {
  margin-bottom: 0;
}

.user-item {
  width: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(162, 160, 160);
  background-color: rgb(211, 208, 208);
  padding: 15px 0;
}
